{% extends "layout.html" %}

{% block content %}
<table class="ui celled table">
    <thead>
        <tr>
            <th class="twelve wide">Quiz</th>
            <th class="six wide">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for db in quizzes %}
        <tr>
            <td>{{ db.name }}</td>
            <td>
                <div class="ui horizontal list">
                    <div class="item">
                        <a class="ui green button" href="{{ url_for('quiz.intro', quiz_id=db.id )}}">Play</a>
                    </div>
                    {% if current_user.is_admin %}
                    <div class="item">
                        <a class="ui button" href="{{ url_for('quiz.manage', quiz_id=db.id )}}">Manage</a>
                    </div>
                    <div class="item">
                        <a class="ui red button" href="{{ url_for('quiz.see_reports', quiz_id=db.id )}}">Reports</a>
                    </div>
                    {% endif %}
                    {% if current_user.is_admin or db.show_results %}
                    <a href="{{ url_for('quiz.result', quiz_id=db.id) }}" class="ui blue button">Results</a>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}